* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    list-style: none;
}
html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
}

header {
    background-color: #1565C0;
}
.menu {
    display: flex;
}
.menu img {
    height: 60px;
    width: 90px;
}
.menu ul {
    display: flex;
    margin: auto;
}
.menu .menu-list {
    margin: auto 20px;
}
.menu-list a {
    /* font-size: 2rem; */
    color: #fff;
}

.content {
    background-color: #E8F5E9;
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.content .content-1 {
    padding: 20px 0 10px 0;
    display: flex;
}
.content-1 .content-img {
    width: 40%;
    margin: 0 20px;
}
.content-1 .content-img img {
    width: 100%;
    height: 90%;
}
.content-1 .content-text {
    width: 60%;
    margin:0 20px;
}
.content-1 .content-text p {
    /* font-size: 2rem; */
    line-height: 1.6;
}
.content-1 .content-text a {
    color: red;
}

.content .content-2 {
    padding-bottom: 20px;
}
.content-2 p {
    /* font-size: 2rem; */
    margin: 0 20px;
    line-height: 1.6;
}

footer {
    background-color: #1565C0;
    color: white;
    padding: 10px;
    text-align: center;
}
footer .student-info, .exam-type {
    /* font-size: 1.8rem; */
}
footer .student-info {
    margin-bottom: 10px;
}

@media only screen and (max-width: 739px) {
    .content {
        width: 90%;
    }
    .content .content-1 {
        display: block;
    }
    .content-1 .content-img {
        width: auto;
    }
    .content-1 .content-text {
        margin-top: 10px;
        width: auto;
    }
}
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .content .content-1 {
        display: block;
    }
    .content-1 .content-img {
        width: auto;
    }
    .content-1 .content-text {
        margin-top: 10px;
        width: auto;
    }
}